#titre{
    text-align: center;
    margin-left: 210px;
}
.boxUn{
    width: 320px;
    height: 420px;
    padding: 10px;
    border: 5px solid gray;
    float: left;
    margin-left: 200px;
    margin-bottom: 100px;

}
.boxDe{
    width: 300px;
    height: 300px;
    padding: 5px;
    border: 5px solid gray;
    margin: 0;
}
.boxMili{
    width: 320px;
    height: 420px;
    padding: 10px;
    border: 5px solid gray;
    float: right;
    margin-right: 300px;
    margin-bottom: 100px;
}
ul{
    font-size: 25px;
}
#seConnecte{
    float: right;
    border: 2px solid gray;
    font-size: 25px;
}
#pannie{
    float: right;
    border: 2px solid gray;
    font-size: 25px;
}

